@import "tailwindcss";

/* * ===== Start Variables ===== * */
:root {
  /* ! Font */
  --font-family: "Inter", sans-serif;

  /* ! Colors */
  --main-black: rgba(0, 0, 0, 1);
  --main-white: white;
  --main-gray: rgba(242, 240, 241, 1);
  --text-gray: rgba(0, 0, 0, 0.6);

  /* ! Radius */
  --btn-radius: 62px;
}
/* * ===== End Variables ===== * */

/* * ===== End Variables ===== * */
html {
  scroll-behavior: smooth;
}
/* * ===== End Variables ===== * */

/* * ===== Start Hero ===== * */
@media (min-width: 768px) {
  #hero-main {
    background-image: url(../imgs/hero.avif);
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
  }
}
@media (min-width: 992px) {
  #hero-main {
    background-position: right;
  }
}
/* * ===== Start Hero ===== * */
