@import "tailwindcss";

/* * ===== Start Variables ===== * */
:root {
  /* ! Font */
  --font-family: "Inter", sans-serif;

  /* ! Colors */
  --main-black: rgba(0, 0, 0, 1);
  --main-white: white;
  --main-gray: rgba(242, 240, 241, 1);
  --text-gray: rgba(0, 0, 0, 0.6);

  /* ! Radius */
  --btn-radius: 62px;
}
/* * ===== End Variables ===== * */

/* * ===== Start Global Rules ===== * */
html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* * ===== End Global Rules ===== * */

/* * ===== Start Hero ===== * */
@media (min-width: 768px) {
  #hero-main {
    background-image: url(../assets//imgs/hero.avif);
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
  }
}
@media (min-width: 992px) {
  #hero-main {
    background-position: right;
  }
}
/* * ===== Start Hero ===== * */

/* * ===== Start Loader ===== * */
/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

/* * ===== End Loader ===== * */

/* * ==== Swiper ==== * */
.swiper-slide {
  height: unset !important;
}
/* * ==== Swiper ==== * */
